* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
}

.strike {
    text-decoration: line-through
}

body {


}

header {


}

header h1 {


}

nav {


}

.toDo__container {


}

.toDo__submission {


}

.archive__container {


}
